@model PhishAnalyzer.Models.Message

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="sender" class="control-label"></label>
                <input asp-for="sender" class="form-control" />
                <span asp-validation-for="sender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipient" class="control-label"></label>
                <input asp-for="recipient" class="form-control" />
                <span asp-validation-for="recipient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recipientCC" class="control-label"></label>
                <input asp-for="recipientCC" class="form-control" />
                <span asp-validation-for="recipientCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <input asp-for="subject" class="form-control" />
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recieved" class="control-label"></label>
                <input asp-for="recieved" class="form-control" />
                <span asp-validation-for="recieved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="body" class="control-label"></label>
                <input asp-for="body" class="form-control" />
                <span asp-validation-for="body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
